<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form extractor examples | Tim Paul</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/core/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/core/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/core/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/core/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#e00000">
    <meta name="theme-color" content="#e00000">
    <link rel="stylesheet"href="/assets/style.css" >
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/prism-base16-monokai.dark.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
	<body class="govuk-template__body" style="background-color: var(--lightgray);">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    

    
      {% block content %}{% endblock %}
    </main>

  </body>
</html>