{% extends "base.njk" %}

{% block content %}

<h1>Form extractor examples</h1>

{% for form in formData.forms %}

<div class="form-example" style="width: 75%">
    <a href="/results/form-{{form.formId}}/1">
      <div class="form-thumb">
          <img src="/results/form-{{form.formId}}/page.1.jpeg" />
      </div>
      <h3 class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{form.formTitle}}</h3>
    </a>
    <ul style="list-style: none">
      <!--<li><em>{{form.filename}}</em></li>-->
      <li>{{form.size}} page form</li>
    </ul>
</div>  

{% endfor %}

<hr class="clear-left">
<p class="post-tag"><a href="/">Tim Paul</a></p>

{% endblock %}