{% extends "base.njk" %}

{% block content %}

<main style="max-width: 33rem">
      <p class="post-tag"><a href="http://www.timpaul.co.uk">Tim Paul</a> <a href="/" class="govuk-breadcrumbs__list-item">Form extractor examples</a></p>

<h1>Form extractor examples</h1>


<p>
I <a href="https://www.timpaul.co.uk/posts/using-ai-to-generate-web-forms-from-pdfs/">built a tool</a> that uses AI to convert PDFs and images of forms into GOV.UK-styled web forms. Here are some examples of the results it produces.
</p>


<br>

{% for form in formData.forms %}

<div class="form-example">
    <a href="/results/form-{{form.formId}}/1">
      <div class="form-thumb">
          <img src="/results/form-{{form.formId}}/page.1.jpeg" />
      </div>
      <strong>{{form.formTitle}}</strong>
    </a>
    <ul style="list-style: none; margin: 10px">
      <li>{{form.size}} page form</li>
    </ul>
</div>  

{% endfor %}

<hr class="clear-left">
<p class="post-tag"><a href="/">Tim Paul</a></p>

</main>

{% endblock %}